
body{
    background-color: #5A7684;
}

header{
    background-color: #395B50;
}

nav {
    float:right; 
    display:inline; 
    width: 40%;
}
nav a {
    padding: 5%;
}
header img{
    width: 5%;
    height: 5%;
}

img {
    display: block;
    margin: 0  auto;
    background-color:#395B50; 
    width:auto; 
    height:auto; 
    position:relative; 
    z-index:2
}
div #hero_img {
    display: block;
    margin: 0  auto;
    background-color:#395B50; 
    width:auto; 
    height:auto; 
    position:relative; 
    z-index:2
}
