@import url('https://fonts.googleapis.com/css2?family=Lora&family=Raleway&display=swap');
body{
    margin: 0;
    background-color: #fbf1f1;
}
.logo {
    border: black solid 5px;
    width: 100px;
    height: 100px;
    float: left;
}
nav {
    height: 50%;
    width: 60%;
    margin: 0 auto;
}
nav a{
    top: 80%;
    right: 20%;
    font-size: 1.3em;
    position: relative;
    text-decoration: none;
    background-color:  white;
    padding: 2%;
    margin: 5%;
    border: black solid 5px;
    color: black;
    font-family: 'Raleway', sans-serif;
}
nav a :hover{
    color: red;
    text-decoration: overline red;
}
header, footer {    
    height: 100px;
    width: 100%;
    float: left;
    background-color: #701e1e;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  main{
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 250px);
    background-color: white;
    padding: 2%;
}
.social{
    position: relative;
    width: 250px;
    left: 83%;
    top: -70%;
    z-index: 30;
}
footer p {
    width: 250px;
    color: #f8e7e7;
    text-decoration: none;
}
footer p a {
    text-decoration: none;
    color: #f8e7e7;
}
footer{
    border: black solid 5px;
}
footer img{
    height: 75px;
    width: 75px;
}

#headline, #sub-headline{
    font-family: 'Raleway', sans-serif;
    grid-row: 1/2;
    grid-column: 2/8;
    text-align: center;
}
#headline{
    font-size: 100px;
    margin-bottom: 50px;
}
#sub-headline{
    margin-top: 5px;
    font-size: 50px;
}
#image1{
    grid-column: 2/8;
    grid-row: 2/4;
    margin: 0 auto;
}
#image3{
grid-column: 1/7;
grid-row: 6/9;
margin: 0 auto;
}
#image2 {
    grid-column: 5/9;
    grid-row: 9/11;
    margin: 0 auto;
}
#image4{
    grid-row: 12/13;
    grid-column: 2/7;
    width: 450px;
    height: 450px;
    margin: 0 auto;
}
#intro{
    grid-column: 2/8;
    grid-row: 4/5;
    font-size: 1.5em;
    font-family: 'Lora', serif;
}
#body1{
    grid-column: 1/9;
    grid-row: 5/6;
    height: 6em;
    align-self: flex-end;
    font-family: 'Lora', serif;
    font-size: 1.5em;
}
#body2{
    grid-column: 7/9;
    grid-row: 6/7;
    margin: 5%;
    font-family: 'Lora', serif;
    font-size: 1.5em;
}
#body3{
    font-size: 1.5em;
    grid-column: 1/9;
    grid-row: 8/9;
    font-family: 'Lora', serif;
}
#body4{
    font-size: 1.5em;
    grid-column: 1/5;
    grid-row: 9/11;
    font-family: 'Lora', serif;
}

#body5{
    font-size: 1.5em;
    grid-column: 1/9;
    grid-row: 11/12;
    font-family: 'Lora', serif;
}
#body6{
    font-size: 1.5em;
    grid-column: 7/9;
    grid-row: 12/13;
    font-family: 'Lora', serif;
    margin: 5%;
}

#body7{
    margin-top: 3em;
    font-size: 1.5em;
    grid-column: 2/8;
    grid-row: 14/15;
    font-family: 'Lora', serif;
}
#closing{
    font-size: 1.5em;
    grid-column: 2/8;
    grid-row: 15/16;
    font-family: 'Lora', serif;
}
#me-fr{
    opacity: 0.03;
    grid-column: 1/9;
    grid-row: 12/16;
    z-index: -1;
}
